<div class="container">
<h2>All Orders</h2>
<div class="card-columns">
<% @orders.each do |order| %>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title">Name: <%= order.name %></h5>
    <h6 class="card-subtitle">Email: <%= order.email %></p>
    <h6 class="card-subtitle">User: <%= order.user.username %></h6>
    <p class="card-text">Line Items: </p>
  <ul>
    <% order.line_items.each do |item| %>
    <li><%= item.quantity %> x <%= item.product.name %></li>
    <% end %>
  </ul>
  </div>
</div>
<% end %>
</div>
</div>
