<% if @cart.products.any? %>
  <%= link_to "Empty Cart", clear_path, class: "btn btn-success" %>
  <% @cart.products.each do |product| %>
    <div class="card m-5" style="width: 28rem;">
      <image src="<%=(url_for(product.photo))%>" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= product.name =%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= product.category.title %></h6>
        <p class="card-text"><%= product.description =%></p>
      <%= link_to "Remove From Cart", toggle_path(product) %>
     </div>
    </div>
  <% end %>
<% else %>
  <h2>is empty bitch</h2>
<% end %>

  <h1>Set Order</h1><br>
  <%= form_for :order, url: {controller: "orders", action: "create"} do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= "#{pluralize(@order.errors.count, "Error")} prohibited this order from being saved:" %></h2>
        <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :cart_id, value: current_user.cart.id %>
      </div>
    <%= f.submit "Create Order", class: "btn btn-primary" %>
  <% end %>
