<div class="container">
  <% if @products.present? %>

    <%= form_tag(products_path, :method => "get") do %>
      <%= hidden_field_tag :status, false %>
      is availavle?:<%= check_box_tag :status, params[:status], true %><br>
      <%= text_field_tag :search, params[:search], placeholder: "Enter Your Search Text:" %><br>
      <% for c in Category.all %>
        <%= check_box_tag "category_ids[]", c.id %>
        <%= c.title %><br>
      <% end %>
      <%= submit_tag "filter" %>
    <% end %>

    <% @products.each do |p| %>
    <div class="card m-5" style="width: 28rem;">
      <image src="<%=(url_for(p.photo))%>" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= p.name =%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= p.category.title %></h6>
        <p class="card-text"><%= p.description =%></p>
          <%= button_to "delete", product_path(p), :method=>:delete, :class=>:destroy, class: "btn btn-danger" if is_admin? %>
        Price: <%= p.price %>$<br>
        Status: <%= status_to_string p %><br>
        <%= link_to "Edit Product", edit_product_path(p) %><br>
    <% unless current_user.nil? %>
      <% if current_user.cart.nil? || current_user.cart.products.include?(p) == false %>
        <%= link_to "Add To Cart", toggle_path(p) %>
      <% else %>
        <%= link_to "Remove From Cart", toggle_path(p) %>
      <% end %>
    <% end %>
    </div>
  </div>
  <% end %>
  <% else %>
    <p>didn't match :(</p>
  <% end %>
</div>
