<div class="container">
  <% if @products.present? %>

    <%= form_tag(products_path, :method => "get") do %>
      at least price: <%= number_field_tag :lowest_price, params[:lowest_price], in: @lowest_price..@highest_price, step: 20  %><br>
      maximum price: <%= number_field_tag :highest_price, params[:highest_price], in: @lowest_price..@highest_price, step: 20 %><br>
      <%= hidden_field_tag :price, params[:price] %>
      <%= hidden_field_tag :status, false %>
      is availavle?:<%= check_box_tag :status, params[:status], true %><br>
      <%= text_field_tag :search, params[:search], placeholder: "Enter Your Search Text:" %><br>
      <% for c in Category.all %>
        <%= check_box_tag "category_ids[]", c.id %>
        <%= c.title  %>
      <% end %>
      <%= submit_tag "Filter Products" %>
    <% end %>
    <div class="card-columns">
    <% @products.each do |p| %>
    <div class="card m-5" style="width: 28rem; margin: 50px;">
      <image src="<%=(url_for(p.photo))%>" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= p.name =%></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= p.category.title %></h6>
        <p class="card-text"><%= p.description =%></p>
        <%= button_to "delete", product_path(p), :method=>:delete, :class=>:destroy, class: "btn btn-danger" if is_admin? %>
        Price: <%= p.price %>$<br>
        Status: <%= status_to_string p %><br>
        <%= link_to "Edit Product", edit_product_path(p) if is_admin? %><br>
        <%= button_to "Add to cart", line_items_path(:product_id => p.id), :method => :post %>
      </div>
    </div>
  <% end %>
    </div>
  <% else %>
    <p>didn't match :(</p>
  <% end %>
</div>
