<div class="container">
  <div class="card m-5" style="width: 28rem;">
    <image src="<%=(url_for(@product.photo))%>" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%= @product.name =%></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @product.category.title %></h6>
      <p class="card-text"><%= @product.description =%></p>
    <% if is_admin? %>
      <%= button_to "delete", product_path(@product), :method=>:delete, :class=>:destroy, class: "btn btn-danger" %>
      <%= link_to "Edit Product", edit_product_path(@product) %><br>
    <% end %>
      Price: <%= @product.price %>$<br>
      Status: <%= status_to_string @product %><br>
    <% button_to "Add to cart", line_items_path(:product_id => @product.id) %>
    </div>
  </div>
  <%= form_for [@product, Comment.new], class: "comment_form" do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control col-lg-8", placeholder: "Provide comment here." %>
      <%= f.hidden_field :product_id, :value => @product.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class="actions">
      <%= f.submit "Leave Comment" %>
    </div>
  <% end %> 
 <h1>Commments For this Product</h2>
  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <div class="card">
        <div class="card-header">Comment By <%= comment.user.username =%></div>
        <div class="card-body"><%= comment.body %></div>
        <%=link_to like_comment_path(comment), method: :put, class: 'btn btn-default btn-sm' do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          like <%=comment.get_upvotes.size%></td>
        <% end %>
        <%=link_to dislike_comment_path(comment), method: :put, class: 'btn btn-default btn-sm' do %>
          <span class="glyphicon glyphicon-chevron-down"></span>
          dislike <%=comment.get_downvotes.size%></td>
        <%end%>
      </div>
    <% end %>
    <br>
  <% else %>
    <h4>There is no comment for this product yet :(</h4>
  <% end %>
</div>

